Repository JamieKaiRemkes/JKR, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, ci/cd, app, api

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

# Add 'frontend` label to any change to app folder
ci/cd:
- any: ['.github/workflows/*']

# Add 'frontend` label to any change to app folder
app:
- any: ['app/**/*']

# Add 'backend` label to any change to api folder
api:
- any: ['api/**/*']

Add file changed checker to linter (#31)
  .github/workflows/ciApp.yml
  .github/workflows/linter-app.yml
Labels: ci/cd

Change action trigger to pull_request_target according to: https://githubmemory.com/repo/actions/labeler/issues/132
  .github/workflows/labeler.yml
Labels: ci/cd

Change action trigger to pull_request_target according to: https://githubmemory.com/repo/actions/labeler/issues/132 (#35)
  .github/workflows/labeler.yml
Labels: ci/cd

Delete .DS_Store
  .DS_Store
Labels: repo

Delete .DS_Store (#43)
  .DS_Store
Labels: repo

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: none

👌 Change issue template to new gh beta issue forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: none

Update issue templates (#46)
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
Labels: none

Update bug_report.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: none

Update bug_report.yaml (#47)
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: none

Add basic auth and darkmode
  app/assets/filters/blur.svg
  app/assets/icons/colored/clojure-svgrepo-com.svg
  app/assets/icons/colored/cone-svgrepo-com.svg
  app/assets/icons/colored/docker-svgrepo-com.svg
  app/assets/icons/colored/flutter-svgrepo-com.svg
  app/assets/icons/colored/gamepad-svgrepo-com.svg
  app/assets/icons/colored/globe-svgrepo-com.svg
  app/assets/icons/colored/heart-svgrepo-com.svg
  app/assets/icons/colored/keyring-svgrepo-com.svg
  app/assets/icons/colored/kubernetes-svgrepo-com.svg
  app/assets/icons/colored/life-buoy-svgrepo-com.svg
  app/assets/icons/colored/light-bulb-svgrepo-com.svg
  app/assets/icons/colored/lock-open-svgrepo-com.svg
  app/assets/icons/colored/node-js-svgrepo-com.svg
  app/assets/icons/colored/npm-svgrepo-com.svg
  app/assets/icons/colored/python-svgrepo-com.svg
  app/assets/icons/ui/login.svg
  app/assets/sass/_vars.sass
  app/assets/sass/normalize/_text.sass
  app/components/Burger.vue
  app/components/Button.vue
  app/components/Filters.vue
  app/components/Header.vue
  app/components/Icon.vue
  app/components/LightSwitch.vue
  app/components/Login.vue
  app/components/Logo.vue
  app/layouts/default.vue
  app/layouts/error.vue
  app/layouts/errorLayout.vue
  app/nuxt.config.js
  app/package.json
  app/pages/account.vue
  app/pages/contact.vue
  app/pages/index.vue
  app/pages/logout.vue
  app/pages/privacy-policy.vue
  app/pages/timeline.vue
  app/store/localStorage.js
  app/yarn.lock
Labels: app

🚀 Finish dark mode
  app/assets/icons/ui/automatic.svg
  app/assets/icons/ui/moon.svg
  app/assets/icons/ui/sun.svg
  app/components/Header.vue
  app/components/LangSwitcher.vue
  app/components/LightSwitch.vue
  app/components/Login.vue
  app/layouts/default.vue
  app/layouts/errorLayout.vue
  app/nuxt.config.js
  app/pages/account.vue
  app/pages/contact.vue
  app/pages/privacy-policy.vue
  app/plugins/clickOutside.js
  app/store/localStorage.js
  app/tsconfig.json
Labels: app

Revert back to npm (forgot to change lockfile)
  app/package-lock.json
  app/yarn.lock
Labels: app

🚀 Add basic navigations to memories pages WIP
  app/assets/icons/ui/arrow-left.svg
  app/assets/icons/ui/arrow-right.svg
  app/pages/timeline.vue
Labels: app

Add extra !
  README.md
Labels: repo

chore(deps): update dependency @nuxtjs/auth-next to v5.0.0-1667386184.dfbbb54
  app/package-lock.json
  app/package.json
Labels: app

chore(deps): update dependency vue2-touch-events to v3.2.3
  app/package-lock.json
Labels: app

fix: dynamic imports for icon component
  components/Header.vue
  components/Icon.vue
  components/LightSwitch.vue
  components/Socials.client.vue
  layouts/default.vue
  pages/index.vue
Labels: none

fix: contact and timeline pages
  pages/contact.vue
  pages/timeline.vue
  public/moments/birth.png
  public/moments/crazy.png
  public/moments/diploma.png
  public/moments/love.png
  public/moments/robot.png
  public/moments/study.png
  public/moments/theatre.png
Labels: none

fix: header component migration including some i18n and dark mode changes
  app.vue
  assets/sass/_vars.sass
  assets/sass/animations/_page.sass
  components/Header.vue
  components/Icon.vue
  components/LangSwitcher.client.vue
  components/LightSwitch.client.vue
  components/Socials.client.vue
  layouts/default.vue
  nuxt.config.ts
  package-lock.json
  package.json
  plugins/clickOutside.client.js
  plugins/clickOutside.client.ts
  plugins/i18nTransitionFix.client.js
  public/icon.png
  stores/localStore.ts
Labels: repo
